<div class="I hidden">
<div id="af_project_identifier"><%= @project.identifier %></div>
<% if @issue.category !=nil %>
	<div id="af_category_id"><%= @issue.category.id %></div>
<% end %>
</div>

