<ul>
<% cat=print_cat %>
<% for c in cat %>
<li>
	<% if Setting.plugin_categories_as_tags['open_only'] %>
		<%= link_to_filter c.cat_name, [[ :category_id, '~',  c.cat_id], [:status_id, 'o']], :project_id => @project.identifier %>	
	<% else %>
		<%= link_to_filter c.cat_name, [[ :category_id, '~',  c.cat_id]], :project_id => @project.identifier %>
	<% end %>

<% if Setting.plugin_categories_as_tags['count'] %>
	<span class="count">(<%= h c.issues_count %>)</span>
<% end %>
</li>
<% end %>
</ul>