.cat_tag_1
	{
	font-size: 1.1em;
	}
.cat_tag_2
	{
	font-size: 1.2em;
	}
.cat_tag_3
	{
	font-size: 1.3em;
	}
.cat_tag_4
	{
	font-size: 1.4em;
	}
.cat_tag_5
	{
	font-size: 1.5em;
	}
.cat_tag_6
	{
	font-size: 1.6em;
	}
.cat_tag_7
	{
	font-size: 1.7em;
	}
.cat_tag_8
	{
	font-size: 1.8em;
	}
.cat_tag_9
	{
	font-size: 1.9em;
	}	
.cat_tag_10
	{
	font-size: 2em;
	}	
.hidden
	{
	display: none;
	}